    <!--
    SPDX-FileCopyrightText: 2022 DB Systel GmbH

    SPDX-License-Identifier: Apache-2.0
    -->

    <div>
        <h1>Leaderboard</h1>
        <p>To show up on this leaderboard, please follow the instructions at
            <a href="https://github.com/dbsystel/playground/hacktoberfest">our hacktoberfest playground</a>
        </p>
        <p>
            %content%
        </p>

    </div>
