/*
 * SPDX-FileCopyrightText: 2022 DB Systel GmbH
 *
 * SPDX-License-Identifier: Apache-2.0
 */

entry {
    position: relative;
}
entry {
    display: inline-block;
    margin-top: 16px;
    margin-right: 32px;
    perspective: 100px;
}
entry name {
    position: absolute;
    font-size: 16px;
    left: -8px;
    top: -20px;
    color: #f0a;
    text-shadow: 0 0 5px #f0a;
    display: block;
    z-index: 10;
    transform: rotateY(-10deg) rotateZ(-5deg);
}
entry prs {
    position: absolute;
    display: inline-block;
    left: 72px;
    top: 64px;
    width: 32px;
    height: 32px;
    color: yellow;
    text-shadow: 0 0 5px yellow;
    border: 2px solid #f0a;
    padding: 2px 6px;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    border-radius: 16px;
    box-shadow: 0 0 15px #f0a;
    background-color: #172344;
    z-index: 1000;
}
.hex {
    stroke: #92EAFF;
    stroke-width: 2;
    transform: scale(1);


}
avatar svg:hover {
    filter: drop-shadow(rgba(146, 234, 255, 0.9) 0px 0px 10px);
    stroke-width: 3;
    transform: rotate(5deg) scale(1.1);
    transition: 0.1s;
}
avatar svg {
    filter: drop-shadow(rgba(146, 234, 255, 0.5) 0px 0px 10px);
    transform: rotate(-5deg);
    display: inline-block;
    transition: 2s;
}
a.hexlink {
    border: 0;
}

